/* 
Project Name: Blank Template
Client: Your Client
Author: Your Name
*/

/******************************************
/* COLOURS
/*******************************************/

/* add a list of colours used in the project */

/******************************************
/* SENSIBLE DEFAULTS                   
/*******************************************/
html,
body{
	width:100%;
}
* {
     box-sizing: border-box;
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

/* add type styles here */


/******************************************
/* LAYOUT                   
/*******************************************/

.site-container {
	max-width: 960px;
	margin: 0 auto;
	
}

.site-header {

}
.site-content {

}
.site-footer {
	clear:both;

}
article{
	width:45%;
	float:left;
	margin-right: 40px;
	margin-bottom: 40px;
}
article .each-image{
	float:left;
	margin-right:20px;

}
.article-container{
	width:100%;
	height:auto;
	background-color: rgba(30,144,255,0.7);
	position: absolute;
	top:0;
	left:0;
	z-index: 1000;
	display: none;
}
.article-content{
	max-width: 600px;
	margin:150px auto;
	background-color: #fff;
	padding:30px;
	opacity: 1;
}
.article-content img{
	max-width: 100%;
	height:auto;
}

/******************************************
/* HELPER CLASSES
/*******************************************/

/* Clearfix */
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}


/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/

.circular{
	display: inline-block;
	position: relative;
	width: 130px;
	height: 130px;
	overflow: hidden;
	border-radius: 50%;
}
article h3{
	margin-top: 0;
	font-size: 1.6rem;
	line-height: 1.9rem;
	color:#3AB062;
}
article a{
	text-decoration: none;
	display: block;
}
article p.description{
	font-size: 0.9rem;
	line-height: 1.15rem;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	margin-left: 150px;
	color:#000;
}
.close{
	font-size: 35px;
	color:#fff;
	position: absolute;
	top:30px;
	right:50px;
	cursor: pointer;
}






